/* colors: 
#c5c6c7
#66fcf1
#45a29e
*/

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background: #45a29e;
}

h1 {
  margin-top: 10px;
  text-transform: uppercase;
  color: #c5c6c7;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(254, 236, 164, 1);
}

.form {
  max-width: 800px;
  margin: 0 auto;
}

.submit-button {
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #45a29e;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-button:hover {
  background-color: #66fcf1;
}
